{% extends "shop/base/base.html" %}
{% load static %}
{% block title %}
    Кошик
{% endblock %}
{% block content %}
    <section id="cart-view">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cart-view-area">
                        <div class="cart-view-table">
                            <form action="">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Назва</th>
                                            <th>Ціна</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in cart %}
                                            {% with product=item.product %}
                                                <tr>
                                                    <td><a class="remove" href="{% url "cart:CartRemove" product.id %}">
                                                        <fa class="fa fa-close"></fa>
                                                    </a></td>
                                                    <td><a href="{{ product.get_absolute_url }}">
                                                        <img src="{{ product.image.url }}" alt="">
                                                    </a></td>
                                                    <td><a class="aa-cart-title"
                                                           href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                                    </td>
                                                    <td>{{ item.total_price }} грн.</td>
                                                </tr>
                                            {% endwith %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <!-- Cart Total view -->
                            <div class="cart-view-total">
                                <h4>Загальна вартість</h4>
                                <table class="aa-totals-table">
                                    <tbody>
                                    <tr>
                                        <th>Загальна</th>
                                        <td>{{ cart.get_total_price }} грн</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a href="{% url "orders:OrderCreate" %}" class="aa-cart-view-btn">Оформити</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}