{% extends "shop/base/base.html" %}
{% load static %}
{% block title %}
    Блог
{% endblock %}
{% block content %}
    <section id="aa-blog-archive">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-blog-archive-area">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="aa-blog-content">
                                    <div class="row">
                                        {% for post in posts %}
                                            <div class="col-md-4 col-sm-4">
                                                <article class="aa-blog-content-single">
                                                    <h4><a href="{{ post.get_absolute_url }}">{{ post.name }}</a></h4>
                                                    <figure class="aa-blog-img">
                                                        <a href="{{ post.get_absolute_url }}"><img src="{{ product.image.url }}" alt=""></a>
                                                    </figure>
                                                    <p>{{ post.text }}</p>
                                                    <div class="aa-article-bottom">
                                                        <div class="aa-post-author">
                                                            Автор : <a href="#">{{ post.user }}</a>
                                                        </div>
                                                        <div class="aa-post-date">
                                                            {{ post.created }}
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

