{% extends 'shop/base/base.html' %}
{% load static %}
{% block title %}
    Add Review
{% endblock %}
{% block content %}
    <form action="{% url 'main:add_review' %}" method="post" class="aa-review-form">
        {% csrf_token %}
        {% if fields.errors %}
            <div class="alert alert-danger">
                {{ field.errors }}
            </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-default aa-review-submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}